.home {
  &__main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 50px 90px;

    @include md {
      padding: 32px 16px;
    }
  }

  &__title span {
    color: $color-primary;
  }

  &__list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    & a {
      text-decoration: underline;
    }
  }

  &__footer {
    background-color: $color-surface-dim;
    display: flex;
    justify-content: center;
    padding: 32px 0;
    color: $color-secondary;
  }
}
